<div *ngIf="init$ | async"></div>
<div class="container mx-auto px-2 md:mt-4">
  <div nz-row nzJustify="center" class="mt-2">
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
      <h1>{{title}}</h1>
      <div nz-row>
        <div nz-col nzSpan="12">Locations</div>
        <div nz-col nzSpan="12">Quantity</div>
        <ul nz-col nzSpan="24">
          <li *ngFor="let ITN of ITNList">
            <div nz-row>
              <span nz-col nzSpan="12">{{ ITN.ITN }}</span>
              <span nz-col nzSpan="12">{{ ITN.Quantity }}</span>
            </div>
          </li>
        </ul>
      </div>

      <h1 *ngIf="ITNList.length===0">Empty</h1>
      <button
        nz-button
        (click)="continue()"
        [nzLoading]="isLoading"
        nzSize="large"
        class="mt-2 w-full"
      >
        CONTINUE
      </button>
    </div>
  </div>
</div>
