<nz-table [nzShowPagination]="false" #table [nzData]="events">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumn"
        [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority"
      >
        {{column.title}}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of table.data">
      <td>
        <nz-select
          (ngModelChange)="refreshCalendar()"
          [(ngModel)]="event.meta.user"
        >
          <nz-option
            *ngFor="let user of users"
            [nzLabel]="user.name"
            [nzValue]="user"
          ></nz-option>
        </nz-select>
      </td>
      <td>
        <nz-time-picker
          [(ngModel)]="event.start"
          (ngModelChange)="refreshCalendar()"
          nzFormat="HH:mm"
        ></nz-time-picker>
      </td>
      <td>
        <nz-time-picker
          [(ngModel)]="event.end"
          (ngModelChange)="refreshCalendar()"
          nzFormat="HH:mm"
        ></nz-time-picker>
      </td>
      <td>
        <input
          type="number"
          min="0"
          max="10"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()"
        />
        points
      </td>
      <td>
        <button
          nz-button
          nzType="primary"
          nzDanger
          (click)="deleteEvent(event)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- Button -->
<div class="flex">
  <button
    class="mt-3 mb-3 ml-3 flex-none"
    nz-button
    nzShape="round"
    nzType="primary"
    nzSize="large"
    (click)="addEvent()"
  >
    <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
  </button>
  <button
    class="mt-3 mb-3 ml-3 flex-none"
    nz-button
    nzShape="round"
    nzSize="large"
    [nzLoading]="isLoading"
    (click)="upload()"
  >
    <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
  </button>
</div>
<!-- Calendar -->
<mwl-day-view-scheduler
  *ngIf="fetch$ | async"
  [viewDate]="viewDate"
  [events]="events"
  [users]="users"
  [hourSegments]="2"
  (userChanged)="userChanged($event)"
  (eventTimesChanged)="eventTimesChanged($event)"
>
</mwl-day-view-scheduler>
<div *ngIf="uploadSetting$ | async"></div>
