<div *ngIf="data$ | async as info">
  <div *ngIf="!info.isLoading; else loading">
    <div class="w-1/4">
      <nz-image-basic [imgURL]="imgURL + info.value.MICNumber"></nz-image-basic>
    </div>
    <nz-descriptions nzTitle="Part Info" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="Product Code">
        {{ info.value.ProductCode }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Part Number">{{
        info.value.PartNumber
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Golbal Message" [nzSpan]="2">
        <div *ngFor="let line of info.value.message">
          <p>{{ line }}</p>
        </div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Kit Info" [nzSpan]="2">{{
        info.value.kitInfo
      }}</nz-descriptions-item>
    </nz-descriptions>

    <div class="mt-5 flex gap-5">
      <div class="w-32 rounded-md bg-red-500">
        <button
          nz-button
          type="button"
          (click)="kickout()"
          class="w-32"
          nzGhost
        >
          KickOut
        </button>
      </div>
      <div class="grow"></div>
      <button
        nz-button
        class="w-32"
        nzType="primary"
        (click)="onSubmit()"
        [disabled]="info.isLoading"
        type="submit"
      >
        Verify
      </button>
      <button nz-button class="w-32" (click)="back()">Back</button>
    </div>
  </div>
</div>
<ng-template #loading>
  <nz-skeleton-element nzType="image" [nzActive]="true"></nz-skeleton-element>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
