<form
  class="flex flex-col gap-5"
  [formGroup]="kickoutForm"
  (ngSubmit)="onSubmit()"
>
  <div *ngFor="let option of kickoutOptions">
    <label>
      <input
        type="radio"
        name="kickoutReason"
        formControlName="kickoutReason"
        [value]="option.id"
        #kickoutReason
      />
      {{ option.content }}
    </label>
  </div>
  <textarea
    rows="4"
    nz-input
    name="otherReason"
    formControlName="otherReason"
    #otherReason
  ></textarea>
  <div class="mb-10 flex gap-5">
    <button
      nz-button
      class="w-32"
      [disabled]="kickoutForm.invalid"
      nzType="primary"
      type="submit"
      nzSize="large"
      [nzLoading]="isLoading"
    >
      kickout
    </button>
    <div class="grow"></div>
    <button
      nz-button
      type="button"
      class="w-32"
      (click)="cancal()"
      nzSize="large"
    >
      Cancel
    </button>
  </div>
</form>
<simple-keyboard
  [inputFromParent]="kickoutForm.value.otherReason"
  (outputFromChild)="onChange($event)"
></simple-keyboard>
