<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="6">
        <nz-form-label nzRequired> Log Level </nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder=""
            formControlName="errorLevel"
          >
            <nz-option nzLabel="Error" nzValue="Error"></nz-option>
            <nz-option nzLabel="Info" nzValue="Info"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="8">
        <nz-form-label nzRequired> Date </nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="timeRange"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="10">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="onSubmit()"
          [disabled]="isLoading"
          class="mr-4"
        >
          Search
        </button>
        <button nz-button (click)="resetForm()" class="mr-4">Clear</button>
      </div>
    </div>
  </form>

  <nz-table
    id="excel-table"
    #table
    [nzFrontPagination]="false"
    [nzLoading]="isLoading"
    [nzPageSizeOptions]="[50, 100, 200]"
    nzShowSizeChanger
    [nzData]="fetchData$ | async"
  >
    <thead>
      <tr>
        <th nzColumnKey="query">Query</th>
        <th nzColumnKey="variables">Variables</th>
        <th nzColumnKey="response">Response</th>
        <th nzColumnKey="timestamp">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>
          {{ data.message.query }}
        </td>
        <td>
          {{ data.message.variables }}
        </td>
        <td>
          {{ data.message.response[0].message }}
        </td>
        <td>{{ data.timestamp }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
