<div class="container mx-auto px-4 py-4">
  <nz-table
    id="excel-table"
    #table
    [nzPageSize]="50"
    [nzPageSizeOptions]="[50, 100, 200]"
    nzShowSizeChanger
    [nzData]="fetchTable$ | async"
  >
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>
          <a
            [routerLink]="['/tableviews/eventlog']"
            [queryParams]="{
              UserName: data.User
            }"
            >{{ data.User }}</a
          >
        </td>
        <td>
          {{ data.total }}
        </td>
        <td *ngFor="let task of data.taskCounter">{{ task }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
