<div class="container px-4 mx-auto">
  <!-- order table -->
  <nz-table
    #table
    [nzData]="fetchTable$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>Username</th>
        <th>Distribution center</th>
        <th>Zoom</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of table.data">
        <td>{{ user.Name }}</td>
        <td>{{ user.DistributionCenter }}</td>
        <td>{{ user.Zoom }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
