<section class="flex flex-wrap">
  <div class="px-8 py-6 border-l-2 border-gray-200 xl:w-1/4 lg:w-1/2 md:w-full">
    <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">
      Bill-To Address
    </h2>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
    <p class="text-base leading-relaxed">{{ name ? name : 'name' }}</p>
  </div>
  <div class="px-8 py-6 border-l-2 border-gray-200 xl:w-1/4 lg:w-1/2 md:w-full">
    <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">
      Ship-To Address
    </h2>
    <p class="mb-4 text-base leading-relaxed">
      Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
      disrupt edison bulbche.
    </p>
    <a class="inline-flex items-center text-indigo-500"
      >Change
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-2"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
  <div class="px-8 py-6 border-l-2 border-gray-200 xl:w-1/4 lg:w-1/2 md:w-full">
    <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">
      Inside Salesperson
    </h2>
    <p class="mb-4 text-base leading-relaxed">
      Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
      disrupt edison bulbche.
    </p>
  </div>
  <div class="px-8 py-6 border-l-2 border-gray-200 xl:w-1/4 lg:w-1/2 md:w-full">
    <h2 class="mb-2 text-lg font-medium text-gray-900 sm:text-xl title-font">
      Buyer's Information
    </h2>
    <p class="mb-4 text-base leading-relaxed">
      Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
      disrupt edison bulbche.
    </p>
    <a class="inline-flex items-center text-indigo-500"
      >Change
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-2"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</section>
