<div class="container mx-auto px-4 py-4">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzAlign="bottom" nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="4" *ngIf="fetchUser$ | async as userList">
        <nz-form-control>
          <nz-select
            nzAllowClear
            nzShowSearch
            nzPlaceHolder="Select a User"
            formControlName="user"
          >
            <nz-option
              *ngFor="let user of userList"
              [nzLabel]="user.Name"
              [nzValue]="user.Name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="order"
            placeholder="filter by Order-NOSI"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="ITN"
            placeholder="filter by ITN"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="6">
        <nz-form-control>
          <nz-range-picker
            [nzShowTime]="true"
            formControlName="timeRange"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-row nzGutter="8" nzJustify="start">
      <nz-form-control nz-col nzSpan="16" *ngIf="listOfEvent$ | async as list">
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Select events"
          nzAllowClear
          formControlName="events"
          [nzOptions]="list"
        >
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList
          >and {{ selectedList.length }} more selected</ng-template
        >
      </nz-form-control>
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary" (click)="onSubmit()" class="mr-4">
          Search
        </button>
        <button nz-button (click)="resetForm()" class="mr-4">Clear</button>
        <button nz-button (click)="exportexcel()">Save</button>
      </div>
    </div>
  </form>

  <!-- Event log table -->
  <nz-table
    #table
    id="table"
    [nzData]="fetchTable$ | async"
    [nzPageSize]="20"
    [nzPageSizeOptions]="[20, 50, 100]"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>User</th>
        <th>Module</th>
        <th>Event</th>
        <th>Order</th>
        <th>Order Line</th>
        <th>PartNumber</th>
        <th>Product Code</th>
        <th>ITN</th>
        <th>Quantity</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of table.data">
        <tr>
          <td>{{ data.UserName }}</td>
          <td>{{ data.Module }}</td>
          <td>{{ data.Event }}</td>
          <td>{{ data.OrderNumber }}-{{ data.NOSINumber }}</td>
          <td>{{ data.OrderLineNumber }}</td>
          <td>{{ data.PartNumber }}</td>
          <td>{{ data.ProductCode }}</td>
          <td>{{ data.InventoryTrackingNumber }}</td>
          <td>{{ data.Quantity }}</td>
          <td>{{ data.Message }}</td>
          <td>{{ data.DateTime }}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
