<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzAlign="bottom" nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="4">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a User"
            formControlName="user"
          >
            <nz-option
              *ngFor="let user of fetchUser$ | async"
              [nzLabel]="user.Name"
              [nzValue]="user._id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a module"
            formControlName="module"
          >
            <nz-option nzLabel="Ag In" nzValue="1"></nz-option>
            <nz-option nzLabel="Ag Out" nzValue="100"></nz-option>
            <nz-option nzLabel="QC" nzValue="200"></nz-option>
            <nz-option nzLabel="QC Hold" nzValue="201"></nz-option>
            <nz-option nzLabel="Pick" nzValue="300"></nz-option>
            <nz-option nzLabel="Pull" nzValue="400"></nz-option>
            <nz-option nzLabel="Dropoff" nzValue="500"></nz-option>
            <nz-option nzLabel="Release" nzValue="600"></nz-option>
            <nz-option nzLabel="Stock" nzValue="700"></nz-option>
            <nz-option nzLabel="Pack" nzValue="800"></nz-option>
            <nz-option nzLabel="Sort" nzValue="900"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="order"
            placeholder="filter by Order-NOSI"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="ITN"
            placeholder="filter by ITN"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row nzJustify="start">
      <nz-form-item nz-col nzSpan="8">
        <nz-form-control>
          <nz-range-picker
            [nzShowTime]="true"
            formControlName="timeRange"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="4" nzOffset="12">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="onSubmit()"
          [disabled]="isLoading"
          class="mr-4"
        >
          Search
        </button>
        <button nz-button (click)="resetForm()">Clear</button>
      </div>
    </div>
  </form>

  <!-- Event log table -->
  <div *ngIf="fetchTable$ | async"></div>
  <nz-table #table [nzData]="tableData" [nzPageSize]="20" nzShowSizeChanger>
    <thead>
      <tr>
        <th>User</th>
        <th>Module</th>
        <th>Event</th>
        <th>Order</th>
        <th>Order Line</th>
        <th>Product Code</th>
        <th>PartNumber</th>
        <th>ITN</th>
        <th>Quantity</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of table.data">
        <tr>
          <td>{{ data.User.Name }}</td>
          <td>{{ data.UserEvent.Module }}</td>
          <td>{{ data.UserEvent.Event }}</td>
          <td>{{ data.OrderNumber }}-{{ data.NOSINumber }}</td>
          <td>{{ data.OrderLineNumber }}</td>
          <td>{{ data.PartNumber }}</td>
          <td>{{ data.ProductCode }}</td>
          <td>{{ data.InternalTrackingNumber }}</td>
          <td>{{ data.Quantity }}</td>
          <td>{{ data.Message }}</td>
          <td>{{ data.DateTime }}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
