<div *ngIf="verify$ | async"></div>
<div *ngIf="init$ | async"></div>
<div *ngIf="log$ | async"></div>
<div class="container mx-auto px-2 py-2 md:mt-4">
  <form
    nz-form
    focusInvalidInput
    [formGroup]="inputForm"
    (ngSubmit)="onSubmit()"
  >
    <div nz-row nzJustify="center">
      <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
        <nz-form-item nz-row nzJustify="center">
          <nz-form-label nzRequired> {{ inputLabel }} </nz-form-label>
          <!-- ITN input -->
          <nz-form-control
            *ngIf="stage === 'scanBarcode'"
            nzHasFeedback
            nzErrorTip="The input is not valid!"
          >
            <input
              nz-input
              maxlength="20"
              oninput="this.value = this.value.toUpperCase()"
              placeholder="Location or ITN"
              nzSize="large"
              type="text"
              id="barcode"
              name="barcode"
              formControlName="barcode"
              autocomplete="off"
              #barcode
            />
          </nz-form-control>
          <!-- Count number input -->
          <nz-form-control
            [hidden]="stage !== 'ITNCount'"
            nzHasFeedback
            nzErrorTip="The input is not valid!"
          >
            <input
              nz-input-number
              nzSize="large"
              type="number"
              id="countNumber"
              name="countNumber"
              formControlName="countNumber"
              autocomplete="off"
              #countNumber
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row *ngIf="alertMessage" nzJustify="center">
          <nz-alert
            [nzType]="
              alertType === 'error'
                ? 'error'
                : alertType === 'success'
                ? 'success'
                : alertType === 'info'
                ? 'info'
                : 'warning'
            "
            [nzMessage]="alertMessage"
            nzShowIcon
            class="w-full"
          ></nz-alert>
        </nz-form-item>

        <nz-form-item nz-row nzJustify="center" nzGutter="16">
          <button
            *ngIf="stage === 'scanBarcode'"
            nz-button
            type="submit"
            nzType="primary"
            (click)="onSubmit()"
            [nzLoading]="isLoading"
            nzSize="large"
            class="w-full"
          >
            Submit
          </button>
          <button
            *ngIf="stage === 'ITNCount'"
            nz-button
            type="submit"
            nzType="primary"
            (click)="ITNCount()"
            [nzLoading]="isLoading"
            nzSize="large"
            class="w-full"
          >
            Submit
          </button>

          <div class="mt-32 w-full bg-gray-500">
            <button
              nz-button
              (click)="back()"
              nzSize="large"
              nzGhost
              class="w-full"
            >
              Back
            </button>
          </div>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
