<div class="container px-2 mx-auto md:mt-6">
  <form nz-form [formGroup]="barcodeForm" (ngSubmit)="onSubmit()">
    <div nz-row nzJustify="center">
      <div nz-col nzXs="22" nzSm="18" nzMd="14" nzLg="12" nzXl="10" nzXXl="8">
        <div nz-row nzGutter="8" nzJustify="center">
          <div nz-col [nzSpan]="16">
            <nz-form-item>
              <nz-form-label nzRequired>Order Barcode</nz-form-label>
              <nz-form-control nzHasFeedback>
                <input
                  nz-input
                  oninput="this.value = this.value.toUpperCase()"
                  id="barcode"
                  name="barcode"
                  formControlName="barcode"
                  autocomplete="off"
                  #barcode
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="4">
            <button
              type="submit"
              nz-button
              [nzType]="'primary'"
              (click)="onSubmit()"
            >
              Search
            </button>
          </div>
          <div nz-col nzSpan="4">
            <button type="button" nz-button (click)="back()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Order Infromation -->

  <nz-table
    #nzTable
    [nzData]="OrderInfo$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>ITN</th>
        <th>Order</th>
        <th>Status</th>
        <th>Container</th>
        <th>Location</th>
        <th>ProductCode</th>
        <th>PartNumber</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of nzTable.data">
        <td>
          <a
            [routerLink]="['/tableviews/eventlog']"
            [queryParams]="{
              ITN: detail.InternalTrackingNumber
            }"
          >
            {{ detail.Inventory.InventoryTrackingNumber }}</a
          >
        </td>
        <td>{{ detail.Order.OrderNumber }}-{{ detail.Order.NOSINumber }}</td>
        <td>{{ detail.Status.Name }}</td>
        <td>{{ detail.Inventory.Container.Barcode }}</td>
        <td>
          {{ detail.Inventory.Container.Warehouse }}-{{
            detail.Inventory.Container.Row
          }}-{{ detail.Inventory.Container.Aisle }}-{{
            detail.Inventory.Container.Section
          }}-{{ detail.Inventory.Container.Shelf }}-{{
            detail.Inventory.Container.ShelfDetail
          }}
        </td>
        <td>{{ detail.Inventory.Product.ProductCode }}</td>
        <td>{{ detail.Inventory.Product.PartNumber }}</td>
        <td>{{ detail.Quantity }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
