<div class="container px-4 mx-auto">
  <!-- order table -->
  <div *ngIf="OrderInfo$ | async"></div>
  <nz-table
    #orderView
    [nzData]="orderListDisplay"
    [nzPageSize]="20"
    [nzPageSizeOptions]="[20, 50, 100]"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th nzCustomFilter>
          Order
          <nz-filter-trigger
            [(nzVisible)]="searchVisible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th
          *ngFor="let column of listOfColumns; trackBy: trackByName"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
        <th>Unpicked</th>
        <th>Aggregated</th>
        <th>In Process</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderView.data">
        <td>
          <a
            [routerLink]="['itnview']"
            [queryParams]="{
              orderNumber: order.OrderNumber,
              NOSINumber: order.NOSINumber
            }"
            >{{ order.OrderNumber }}-{{ order.NOSINumber }}</a
          >
        </td>
        <td>{{ order.Status }}</td>
        <td>{{ order.Priority ? 'Yes' : 'No' }}</td>
        <td>{{ order.ShippingMethod }}</td>
        <td>{{ order.Unpicked }}</td>
        <td>{{ order.Aggregated }}</td>
        <td>{{ order.InProcess }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="px-2 py-2 grid grid-cols-2">
      <input
        type="text"
        nz-input
        oninput="this.value = this.value.toUpperCase()"
        placeholder="Order#"
        [(ngModel)]="searchValue"
        class="col-span-2"
        #searchInput
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchOrder()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
    </div>
  </nz-dropdown-menu>
</div>
