<div class="container px-4 mx-auto mb-10 md:max-w-md">
  <!-- Order input form -->
  <div class="flex flex-col md:mt-2 ...">
    <form focusInvalidInput [formGroup]="barcodeForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-2">
        <div class="z-0 w-full relative mt-2">
          <input
            oninput="this.value = this.value.toUpperCase()"
            type="text"
            name="barcode"
            placeholder=" "
            formControlName="barcode"
            class="float-input"
            autocomplete="off"
            maxlength="30"
            #barcode
          />
          <label for="barcode" class="float-label">Barcode</label>
          <div
            class="text-red-500 text-sm absolute"
            *ngIf="
              this.f.barcode.invalid &&
              (this.f.barcode.dirty || this.f.barcode.touched)
            "
          >
            <div *ngIf="this.f.barcode.errors.required">
              Barcode is required.
            </div>
            <div *ngIf="this.f.barcode.errors.regex">Invaild Barcode!</div>
          </div>
        </div>
        <button class="w-5 mt-2" type="submit" label="Search">
          <svg
            class="w-5"
            viewBox="0 0 129 129"
            enable-background="new 0 0 129 129"
          >
            <g>
              <path
                d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2s2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35   c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7   c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"
              />
            </g>
          </svg>
        </button>
      </div>
      <div class="mt-2 md:mt-6">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </div>
  <!-- Container Information -->
  <div *ngIf="containerInfo$ | async as obs; else containerloading">
    <div class="divide-y">
      <ul *ngFor="let container of obs">
        <li>Container: {{ container.Barcode }}</li>
        <li>
          Location:
          {{ container.Warehouse }}-{{ container.Row }}-{{ container.Aisle }}-{{
            container.Section
          }}-{{ container.Shelf }}-{{ container.ShelfDetail }}
        </li>
        <ul *ngFor="let ITN of container.INVENTORies">
          <li class="ml-3">
            Order: {{ ITN.Order.OrderNumber }}-{{ ITN.Order.NOSINumber }} ({{
              ITN.Order.Status.Name
            }}))
          </li>
          <li class="ml-3">ITN: {{ ITN.InternalTrackingNumber }}</li>
        </ul>
      </ul>
    </div>
  </div>
  <ng-template #containerloading>
    <div *ngIf="containerInfo$">Loading...</div>
  </ng-template>
  <!-- ITN information  -->
  <div *ngIf="ITNInfo$ | async as obs; else ITNloading">
    <div class="divide-y">
      <ul *ngFor="let ITN of obs">
        <li>ITN: {{ this.barcodeForm.get('barcode').value }}</li>
        <li>
          Location:
          {{ ITN.Container.Warehouse }}-{{ ITN.Container.Row }}-{{
            ITN.Container.Aisle
          }}-{{ ITN.Container.Section }}-{{ ITN.Container.Shelf }}-{{
            ITN.Container.ShelfDetail
          }}
        </li>
        <li>Container: {{ ITN.Container.Barcode }}</li>
        <li>
          Order: {{ ITN.Order.OrderNumber }}-{{ ITN.Order.NOSINumber }}({{
            ITN.Order.Status.Name
          }})
        </li>
      </ul>
    </div>
  </div>
  <ng-template #ITNloading>
    <div *ngIf="ITNInfo$">Loading...</div>
  </ng-template>
  <!-- Order Infromation -->
  <div *ngIf="OrderInfo$ | async as obs; else Orderloading">
    <ul *ngFor="let order of obs">
      <li>
        Order: {{ order.OrderNumber }}-{{ order.NOSINumber }} ({{
          order.Status.Name
        }})
      </li>
      <div class="divide-y">
        <ul class="ml-2" *ngFor="let ITN of order.INVENTORies">
          <li>ITN: {{ ITN.InternalTrackingNumber }}</li>
          <li>
            Location: {{ ITN.Container.Warehouse }}-{{ ITN.Container.Row }}-{{
              ITN.Container.Aisle
            }}-{{ ITN.Container.Section }}-{{ ITN.Container.Shelf }}-{{
              ITN.Container.ShelfDetail
            }}
          </li>
          <li>Container: {{ ITN.Container.Barcode }}</li>
        </ul>
      </div>
    </ul>
  </div>
  <ng-template #Orderloading>
    <div *ngIf="OrderInfo$">Loading...</div>
  </ng-template>
</div>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help
  [key]="'f1'"
  [closeKey]="'escape'"
  [title]="'Help'"
></ng-keyboard-shortcuts-help>
