<div class="container px-2 py-2 mx-auto">
  <!-- Barcode input form -->
  <form nz-form [formGroup]="barcodeForm" (ngSubmit)="onSubmit()">
    <div nz-row nzJustify="center">
      <div nz-col nzXs="22" nzSm="18" nzMd="14" nzLg="12" nzXl="10" nzXXl="8">
        <div nz-row nzGutter="8" nzJustify="center">
          <div nz-col [nzSpan]="16">
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <input
                  nz-input
                  oninput="this.value = this.value.toUpperCase()"
                  id="barcode"
                  placeholder="Barcode"
                  name="barcode"
                  formControlName="barcode"
                  autocomplete="off"
                  #barcode
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <button
              type="submit"
              nz-button
              nzType="primary"
              (click)="onSubmit()"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- tree view of result -->
  <div nz-row nzJustify="center">
    <div nz-col nzXs="24" nzSm="20" nzMd="16" nzLg="12" nzXl="10" nzXXl="8">
      <div *ngIf="isLoading">
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </div>

      <!-- Container Information -->
      <div *ngIf="isContainer" class="mt-2">
        <div class="mb-2 divide-y">
          <ul *ngFor="let container of search$ | async">
            <li>Container: {{ container.Barcode }}</li>
            <li>
              Location:
              {{ container.Warehouse }}-{{ container.Row }}-{{
                container.Aisle
              }}-{{ container.Section }}-{{ container.Shelf }}-{{
                container.ShelfDetail
              }}
            </li>
            <div class="divide-y">
              <ul *ngFor="let ITN of container.INVENTORies">
                <li class="ml-3">
                  ITN:
                  <a
                    [routerLink]="['/tableviews/usereventlog']"
                    [queryParams]="{ ITN: ITN.InventoryTrackingNumber }"
                    class="text-blue-500"
                  >
                    {{ ITN.InventoryTrackingNumber }}</a
                  >
                  ({{ ITN.ORDERLINEDETAILs[0].Status.Name }})
                </li>
                <li class="ml-3">
                  Order: {{ ITN.ORDERLINEDETAILs[0].Order.OrderNumber }}-{{
                    ITN.ORDERLINEDETAILs[0].Order.NOSINumber
                  }}
                  #{{ ITN.ORDERLINEDETAILs[0].OrderLine.OrderLineNumber }}
                  <span>{{
                    ITN.ORDERLINEDETAILs[0].Order.ShipmentMethod
                      .PriorityPinkPaper
                      ? 'Y'
                      : 'N'
                  }}</span>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>

      <!-- ITN information  -->
      <div *ngIf="isITN">
        <div class="divide-y">
          <ul *ngFor="let ITN of search$ | async">
            <li>
              ITN:
              <a
                [routerLink]="['/tableviews/usereventlog']"
                [queryParams]="{ ITN: ITN.InventoryTrackingNumber }"
                class="text-blue-500"
              >
                {{ ITN.InventoryTrackingNumber }}</a
              >
              ({{ ITN.ORDERLINEDETAILs[0].Status.Name }})
            </li>
            <li>
              Location:
              {{ ITN.Container.Warehouse }}-{{ ITN.Container.Row }}-{{
                ITN.Container.Aisle
              }}-{{ ITN.Container.Section }}-{{ ITN.Container.Shelf }}-{{
                ITN.Container.ShelfDetail
              }}
            </li>
            <li>Container: {{ ITN.Container.Barcode }}</li>
            <li>
              Order: {{ ITN.ORDERLINEDETAILs[0].Order.OrderNumber }}-{{
                ITN.ORDERLINEDETAILs[0].Order.NOSINumber
              }}
              #{{ ITN.ORDERLINEDETAILs[0].OrderLine.OrderLineNumber }}
              <span>{{
                ITN.ORDERLINEDETAILs[0].Order.ShipmentMethod.PriorityPinkPaper
                  ? 'Y'
                  : 'N'
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Order Infromation -->
      <div *ngIf="isOrder">
        <ul *ngFor="let order of search$ | async">
          <li>
            Order: {{ order.OrderNumber }}-{{ order.NOSINumber }}
            <span>{{
              order.ShipmentMethod.PriorityPinkPaper ? 'Y' : 'N'
            }}</span>
          </li>
          <div class="divide-y">
            <ul class="ml-2" *ngFor="let line of order.ORDERLINEs">
              <li>Line: {{ line.OrderLineNumber }}</li>
              <ul *ngFor="let ITN of line.ORDERLINEDETAILs">
                <li>
                  ITN:
                  <a
                    [routerLink]="['/tableviews/eventlog']"
                    [queryParams]="{
                      ITN: ITN.Invenotry.InventoryTrackingNumber
                    }"
                    class="text-blue-500"
                  >
                    {{ ITN.Inventory.InventoryTrackingNumber }}</a
                  >
                  ({{ ITN.Status.Name }})
                </li>
                <li>
                  Location: {{ ITN.Inventory.Container.Warehouse }}-{{
                    ITN.Inventory.Container.Row
                  }}-{{ ITN.Inventory.Container.Aisle }}-{{
                    ITN.Inventory.Container.Section
                  }}-{{ ITN.Inventory.Container.Shelf }}-{{
                    ITN.Inventory.Container.ShelfDetail
                  }}
                </li>
                <li>Container: {{ ITN.Inventory.Container.Barcode }}</li>
              </ul>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
