<div class="container px-4 mx-auto mb-10 md:max-w-md">
  <!-- Order input form -->
  <div class="flex flex-col md:mt-6 ...">
    <form
      *ngIf="!containerInfo$"
      focusInvalidInput
      [formGroup]="barcodeForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="z-0 w-full relative mt-4">
        <input
          oninput="this.value = this.value.toUpperCase()"
          type="text"
          name="barcode"
          placeholder=" "
          formControlName="barcode"
          class="float-input"
          autocomplete="off"
          maxlength="30"
          #barcode
        />
        <label for="barcode" class="float-label">Barcode</label>
        <div
          class="text-red-500 text-sm absolute"
          *ngIf="
            this.f.barcode.invalid &&
            (this.f.barcode.dirty || this.f.barcode.touched)
          "
        >
          <div *ngIf="this.f.barcode.errors.required">Barcode is required.</div>
          <div *ngIf="this.f.barcode.errors.regex">Invaild Barcode!</div>
        </div>
      </div>
      <div class="mt-6 md:mt-10">
        <form-button [type]="'submit'" label="Submit"></form-button>
      </div>
      <div class="mt-2 md:mt-6">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </div>
  <!-- Container Information -->
  <div *ngIf="containerInfo$">
    <p class="mb-3 text-xl font-bold">
      Barcode: {{ this.barcodeForm.get('barcode').value }}
    </p>
    <form-button
      styles="bg-gray-500"
      label="back"
      (onClickEmt)="back()"
    ></form-button>
    <div class="divide-y">
      <ul class="mt-2" *ngFor="let container of containerInfo$ | async">
        <li>Container: {{ container.Barcode }}</li>
        <li>
          Location:
          {{ container.Warehouse }}-{{ container.Row }}-{{ container.Aisle }}-{{
            container.Section
          }}-{{ container.Shelf }}-{{ container.ShelfDetail }}
        </li>
        <ul *ngFor="let ITN of container.INVENTORies">
          <li class="ml-3">
            Order: {{ ITN.Order.OrderNumber }}-{{ ITN.Order.NOSINumber }} ({{
              ITN.Order.Status.Name
            }}))
          </li>
          <li class="ml-3">ITN: {{ ITN.InternalTrackingNumber }}</li>
        </ul>
      </ul>
    </div>
  </div>
</div>
