<div class="container py-6 px-10 grid grid-flow-row gap-4">
  <nz-skeleton *ngIf="isLoading" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
  <p class="hidden">{{ globalMessage$ | async }}</p>
  <nz-descriptions *ngIf="!isLoading" nzTitle="Global Message" nzBordered>
    <nz-descriptions-item nzTitle="Order Line Messages">
      <ul>
        <li *ngFor="let comment of orderComments">
          <span>{{ comment }}</span>
        </li>
      </ul>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Part Messages">
      <ul>
        <li *ngFor="let comment of partComments">
          <span>{{ comment }}</span>
        </li>
      </ul>
    </nz-descriptions-item>
  </nz-descriptions>

  <div nz-row nzJustify="center">
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
      <nz-form-item nz-row nzJustify="center">
        <button
          nz-button
          type="submit"
          nzType="primary"
          (click)="onSubmit()"
          [nzLoading]="isLoading"
          nzSize="large"
          class="w-full"
        >
          Submit
        </button>
      </nz-form-item>

      <nz-alert
        *ngIf="alertMessage"
        [nzType]="
          alertType === 'error'
            ? 'error'
            : alertType === 'success'
            ? 'success'
            : alertType === 'info'
            ? 'info'
            : 'warning'
        "
        [nzMessage]="alertMessage"
        nzShowIcon
        class="w-full"
      ></nz-alert>
    </div>
  </div>
</div>
