<nav class="bg-gray-100 border-b-2 border-indigo-500">
  <div class="px-2 mx-auto">
    <div class="grid grid-flow-col justify-between h-10">
      <div class="grid grid-flow-col items-center justify-center">
        <a routerLink="/home">
          <i nz-icon nzType="home" nzTheme="outline" class="text-2xl"></i>
        </a>
        <div class="ml-2">
          <span class="text-gray-800 md:text-lg">
            {{ title$ | async }}
          </span>
        </div>
      </div>
      <div></div>
      <div class="grid grid-flow-col items-center md:ml-6">
        <div class="md:hidden">
          <button
            class="inline-flex items-center justify-center rounded-md focus:outline-none mr-4"
            (click)="toggleFullscreen()"
          >
            <i
              *ngIf="!isFullscreen"
              nz-icon
              nzType="fullscreen"
              nzTheme="outline"
              class="text-2xl"
            ></i>
            <i
              *ngIf="isFullscreen"
              nz-icon
              nzType="fullscreen-exit"
              nzTheme="outline"
              class="text-2xl"
            ></i>
          </button>
        </div>
        <button
          class="inline-flex items-center justify-center rounded-md focus:outline-none"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="userMenu"
          nzPlacement="bottomLeft"
          #userButton
        >
          <i nz-icon nzType="user" nzTheme="outline" class="text-2xl"></i>
        </button>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <span class="text-lg font-bold">
                {{ user$ | async }}
              </span>
            </li>
            <li nz-menu-item>
              <button (click)="logout()">
                <div class="flex flex-row">
                  <i
                    nz-icon
                    nzType="logout"
                    nzTheme="outline"
                    class="text-xl"
                  ></i>
                  <span class="ml-2">Logout</span>
                </div>
              </button>
            </li>
          </ul>
        </nz-dropdown-menu>
        <button
          class="ml-4 inline-flex items-center justify-center rounded-md focus:outline-none"
          (click)="openNavBar()"
        >
          <i
            *ngIf="!showMenu"
            nz-icon
            nzType="menu-fold"
            nzTheme="outline"
            class="text-2xl"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="showMenu"
    nzPlacement="right"
    nzTitle="Quick Access"
    (nzOnClose)="closeNavBar()"
  >
    <ng-container *nzDrawerContent>
      <ul nz-menu nzMode="inline">
        <li nz-menu-item>
          <a (click)="closeNavBar()" routerLink="/home"> Home </a>
        </li>
        <li nz-submenu nzTitle="WMS" nzOpen>
          <ul>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/agin"> Aggregation In </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/agout">
                Aggregation Out
              </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/qc">Quality Control</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Utility Tools" nzOpen>
          <ul>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/tableviews">
                Table Views
              </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/printitn"> Print ITN </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/relocate"> Relocate </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/searchbarcode">
                Search Barcode
              </a>
            </li>
            <li nz-menu-item>
              <a (click)="closeNavBar()" routerLink="/valuemap">
                Value Mapping
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </ng-container>
  </nz-drawer>
</nav>
