<section class="flex flex-row w-full px-4 py-2 mx-auto gap-3">
  <div class="inline-flex">
    <svg class="absolute top-0 right-0 w-2 h-2 m-4 pointer-events-none" viewBox="0 0 412 232">
      <path
        d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
        fill="#648299"
        fill-rule="nonzero"
      />
    </svg>
    <select
      class="h-10 pl-5 pr-10 text-gray-600 bg-white border border-gray-300 rounded-full appearance-none hover:border-gray-400 focus:outline-none"
      (change)="onPageSizeChanged()"
      #pageSize
    >
      <option>Page Size</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
    </select>
  </div>
  <button
    class="inline-flex items-center w-auto h-10 px-2 py-2 text-sm font-bold tracking-wide text-center text-gray-800 bg-white border-b-4 border-blue-500 rounded shadow-md focus:outline-none hover:border-blue-600 hover:bg-blue-500 hover:text-white"
    (click)="sizeToFit()"
  >
    <span class="mx-auto">Size To Fit</span>
  </button>
  <button
    class="inline-flex items-center w-auto h-10 px-2 py-2 text-sm font-bold tracking-wide text-center text-gray-800 bg-white border-b-4 border-blue-500 rounded shadow-md w-34 focus:outline-none hover:border-blue-600 hover:bg-blue-500 hover:text-white"
    (click)="autoSizeAll(false)"
  >
    <span class="mx-auto">Auto Size All</span>
  </button>
  <button
    class="inline-flex items-center w-auto h-10 px-2 py-2 text-sm font-bold tracking-wide text-center text-gray-800 bg-white border-b-4 border-blue-500 rounded shadow-md w-34 focus:outline-none hover:border-blue-600 hover:bg-blue-500 hover:text-white"
    (click)="resetFilter()"
  >
    <span class="mx-auto">Reset</span>
  </button>
</section>
<div class="ag-theme-alpine-dark">
  <ag-grid-angular
    #agGrid
    id="myGrid"
    [modules]="modules"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    enableRangeSelection="true"
    pagination="true"
    animateRows="true"
    rowSelection="multiple"
    domLayout="autoHeight"
    multiSortKey="ctrl"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
