<div class="container mx-auto px-2 py-2 md:mt-4">
  <form nz-form focusInvalidInput [formGroup]="ITNForm" (ngSubmit)="onSubmit()">
    <div nz-row nzJustify="center">
      <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
        <nz-form-item nz-row nzJustify="center">
          <div *ngIf="verify$ | async"></div>
          <nz-form-label nzRequired> ITN </nz-form-label>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="The input is not valid ITN!"
          >
            <input
              nz-input
              maxlength="15"
              oninput="this.value = this.value.toUpperCase()"
              placeholder="PH03869239"
              nzSize="large"
              type="text"
              id="ITN"
              name="ITN"
              formControlName="ITN"
              autocomplete="off"
              #ITN
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row nzJustify="center" nzGutter="16">
          <button
            nz-button
            type="submit"
            nzType="primary"
            (click)="onSubmit()"
            [nzLoading]="isLoading"
            nzSize="large"
            class="w-full"
          >
            Submit
          </button>

          <div class="mt-4 w-full bg-gray-500">
            <button
              nz-button
              (click)="back()"
              nzSize="large"
              nzGhost
              class="w-full"
            >
              Back
            </button>
          </div>
        </nz-form-item>

        <nz-form-item nz-row *ngIf="alertMessage" nzJustify="center">
          <nz-alert
            [nzType]="
              alertType === 'error'
                ? 'error'
                : alertType === 'success'
                ? 'success'
                : alertType === 'info'
                ? 'info'
                : 'warning'
            "
            [nzMessage]="alertMessage"
            nzShowIcon
            class="w-full"
          ></nz-alert>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
