<section class="text-gray-600 body-font dark:text-gray-200">
  <div class="mx-auto flex flex-wrap flex-col">
    <div class="flex mx-auto flex-wrap">
      <a
        class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-gray-500 border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider rounded-t"
        [ngClass]="{ 'text-indigo-500 border-indigo-500 bg-gray-100': activeTab === 1 }"
        routerlink
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5 mr-3"
          viewBox="0 0 24 24"
        >
          <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
        </svg>
        Scan ITN
      </a>
      <a
        class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-gray-500 border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-gray-900 tracking-wider"
        [ngClass]="{ 'text-indigo-500 border-indigo-500 bg-gray-100': activeTab === 2 }"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5 mr-3"
          viewBox="0 0 24 24"
        >
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
        Verify Pack
      </a>
      <a
        class="border-gray-500 sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-gray-900 tracking-wider"
        [ngClass]="{ 'text-indigo-500 border-indigo-500 bg-gray-100': activeTab === 3 }"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5 mr-3"
          viewBox="0 0 24 24"
        >
          <circle cx="12" cy="5" r="3"></circle>
          <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
        </svg>
        STEP 3
      </a>
      <a
        class="sm:px-6 py-3 w-1/2 border-gray-500 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-gray-900 tracking-wider"
        [ngClass]="{ 'text-indigo-500 border-indigo-500 bg-gray-100': activeTab === 4 }"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5 mr-3"
          viewBox="0 0 24 24"
        >
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        STEP 4
      </a>
    </div>
  </div>
</section>
