<div class="container px-4 mx-auto mb-10">
  <div class="flex flex-col">
    <!-- filter form -->
    <form focusInvalidInput [formGroup]="filterForm" (ngSubmit)="search(true)">
      <div class="grid grid-cols-10 text-sm gap-3">
        <!-- Order barcode input -->
        <div class="z-0 w-full relative col-span-2 mt-2">
          <input
            oninput="this.value = this.value.toUpperCase()"
            type="text"
            name="orderBarcode"
            placeholder=" "
            formControlName="orderBarcode"
            class="float-input"
            autocomplete="off"
            maxlength="30"
            #orderBarcode
          />
          <label for="orderBarcode" class="float-label">Order Barcode</label>
          <div
            class="text-red-500 text-sm absolute"
            *ngIf="
              this.f.orderBarcode.invalid &&
              (this.f.orderBarcode.dirty || this.f.orderBarcode.touched)
            "
          >
            <div *ngIf="this.f.orderBarcode.errors.regex">Invaild order!</div>
          </div>
        </div>
        <!-- Priority -->
        <div class="grid grid-flow-row col-span-1">
          <label for="Priority" class=""> Priority</label>
          <select
            class="rounded-md text-sm"
            id="Priority"
            formControlName="Priority"
          >
            <option *ngFor="let priority of priorityList" [value]="priority">
              {{ priority }}
            </option>
          </select>
        </div>
        <!-- ShipMethod -->
        <div class="grid grid-flow-row col-span-3">
          <label for="ShippingMethod" class=""> ShipMethod</label>
          <select
            class="rounded-md text-sm"
            id="ShippingMethod"
            formControlName="ShippingMethod"
          >
            <option
              *ngFor="let shipMethod of shipMethodList"
              [value]="shipMethod"
            >
              {{ shipMethod }}
            </option>
          </select>
        </div>
        <!-- Status -->
        <div class="grid grid-flow-row col-span-2">
          <label for="Status" class="">Status</label>
          <select
            class="rounded-md text-sm"
            id="Status"
            formControlName="Status"
          >
            <option *ngFor="let status of statusList" [value]="status">
              {{ status }}
            </option>
          </select>
        </div>
        <form-button
          class="mt-4"
          [styles]="'bg-green-500'"
          [type]="'submit'"
          [label]="'Search'"
          isHighLight="true"
        ></form-button>
        <form-button
          class="mt-4"
          [styles]="'bg-gray-500'"
          [label]="'Reset'"
          (click)="reset()"
          isHighLight="true"
        ></form-button>
      </div>
      <div class="mt-2">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </div>
  <!-- Order Infromation -->
  <div
    *ngIf="OrderInfo$ | async as obs; else Orderloading"
    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg mt-4"
  >
    <table class="table-auto min-w-full divide-y divide-gray-200">
      <thead class="text-sm">
        <tr>
          <th class="text-left tracking-wider">Order</th>
          <th class="text-left tracking-wider">Status</th>
          <th class="text-left tracking-wider">Priority</th>
          <th class="text-left tracking-wider">ShipMethod</th>
          <th class="text-left tracking-wider">Unpicked</th>
          <th class="text-left tracking-wider">Aggregated</th>
          <th class="text-left tracking-wider">In Process</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 text-sm">
        <tr *ngFor="let order of obs" ng-click="goToITNView(order)">
          <td class="py-2">
            <a
              [routerLink]="['itnview']"
              [queryParams]="{
                orderNumber: order.OrderNumber,
                NOSINumber: order.NOSINumber
              }"
              >{{ order.OrderNumber }}-{{ order.NOSINumber }}</a
            >
          </td>
          <td class="py-2">{{ order.Status }}</td>
          <td class="py-2">{{ order.Priority }}</td>
          <td class="py-2">
            {{ order.ShippingMethod }}
          </td>
          <td class="py-2">{{ order.Unpicked }}</td>
          <td class="py-2">{{ order.Aggregated }}</td>
          <td class="py-2">{{ order.InProcess }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #Orderloading>
    <div class="text-black" *ngIf="OrderInfo$">Loading...</div>
  </ng-template>
</div>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help
  [key]="'f1'"
  [closeKey]="'escape'"
  [title]="'Help'"
></ng-keyboard-shortcuts-help>
