<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzAlign="bottom" nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="4">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a User"
            formControlName="user"
          >
            <nz-option
              *ngFor="let user of fetchUser$ | async"
              [nzLabel]="user.Name"
              [nzValue]="user._id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="8">
        <nz-form-control>
          <nz-range-picker
            [nzShowTime]="true"
            formControlName="timeRange"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4" nzOffset="12">
      <button
        nz-button
        [nzType]="'primary'"
        (click)="onSubmit()"
        [disabled]="isLoading"
        class="mr-4"
      >
        Search
      </button>
      <button nz-button (click)="resetForm()">Clear</button>
    </div>
  </form>

  <!-- Event log table -->
  <div *ngIf="fetchTable$ | async"></div>
  <nz-table #table [nzData]="tableData" [nzPageSize]="20" nzShowSizeChanger>
    <thead>
      <tr>
        <th>User</th>
        <th>Ag In</th>
        <th>Ag out</th>
        <th>QC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{ data.Name }}</td>
        <td>{{ data.AgIn }}</td>
        <td>{{ data.AgOut }}</td>
        <td>{{ data.QC }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
