<div nz-row nzJustify="center">
  <!-- New feature link  -->
  <div nz-col nzXs="24" nzSm="22" nzMd="20" nzLg="20" nzXl="18" nzXXl="16">
    <div *ngIf="!isMobile">
      <h1 class="text-4xl font-bold" nz-row>
        Web-based Information Management System
      </h1>
      <p nz-row class="text-xl">New feature documentation.</p>
      <button nz-button nzType="primary" class="text-lg font-sans">
        <a [href]="changelogurl" target="_blank"> What's New</a>
      </button>
    </div>
    <div *ngIf="menuService.menusLoaded | async" nz-row nzGutter="32" class="md:mt-6">
      <div *ngFor="let menuItem of menuService.rootMenuItems" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8" nzXXl="6">
          <nz-card [nzCover]="cover"
            nzBorderless>
            <h1 class="text-xl font-semibold">
              <span>{{ menuItem.Front }}</span>
              <span class="text-yellow-500 font-bold">{{ menuItem.Highlight }}</span>
              <span>{{ menuItem.End }}</span>
            </h1>
            <menu-item [children]="menuItem.Children"></menu-item>
          </nz-card>
          <ng-template #cover>
            <img
              *ngIf="!isMobile"
              style="width: 100px;"
              alt="{{ menuItem.Front + menuItem.Highlight + menuItem.End }}"
              src="{{ menuItem.CoverSrc }}" />
          </ng-template>
      </div>
    </div>
  </div>
</div>
