<div nz-row nzJustify="center">
  <!-- New feature link  -->
  <div nz-col nzXs="24" nzSm="22" nzMd="20" nzLg="20" nzXl="18" nzXXl="16">
    <div *ngIf="!isMobile">
      <h1 class="text-4xl font-bold" nz-row>
        Web-based Information Management System
      </h1>
      <p nz-row class="text-xl">New feature documentation.</p>
      <button nz-button nzType="primary" class="text-lg font-sans">
        <a [href]="changelogurl" target="_blank"> What's New</a>
      </button>
    </div>
    <!-- Entery points for different model -->
    <div nz-row nzGutter="32" class="md:mt-6">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8" nzXXl="6">
        <nz-card [nzCover]="WMS" nzBorderless>
          <h1 class="text-xl font-semibold">
            <span class="text-yellow-500 font-bold">W</span>
            <span>MS</span>
          </h1>
          <div class="grid gap-4 text-base" *ngFor="let element of WMSList">
            <a
              class="mt-3"
              routerLink="{{ element.link }}"
              [queryParams]="element.params"
            >
              <span>{{ element.front }}</span>
              <span class="text-yellow-500 font-bold">{{
                element.highlight
              }}</span>
              <span>{{ element.end }}</span>
            </a>
          </div>
        </nz-card>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8" nzXXl="6">
        <nz-card [nzCover]="tools" nzBorderless>
          <h1 class="text-xl font-semibold">
            <span class="text-yellow-500 font-bold">U</span>
            <span>tility Tools</span>
          </h1>
          <div class="grid gap-4 text-base" *ngFor="let element of toolList">
            <a class="mt-3" [routerLink]="[element.link]">
              <span>{{ element.front }}</span>
              <span class="text-yellow-500 font-bold">{{
                element.highlight
              }}</span>
              <span>{{ element.end }}</span>
            </a>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
<ng-template #WMS>
  <img
    *ngIf="!isMobile"
    style="width: 100px"
    alt="wms"
    src="../../../assets/icon/warehouse.svg"
  />
</ng-template>

<ng-template #tools>
  <img
    *ngIf="!isMobile"
    style="width: 100px"
    alt="tools"
    src="../../../assets/icon/utility_tools.svg"
  />
</ng-template>
