<div>{{ initInfo$ | async }}</div>
<div>{{ verifyContainer$ | async }}</div>
<div class="container mx-auto px-2 md:mt-4">
  <div nz-row nzJustify="center">
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
      <!-- Location Info -->
      <nz-skeleton
        *ngIf="!locationList"
        [nzActive]="true"
        [nzParagraph]="{ rows: 2 }"
      ></nz-skeleton>
      <div nz-row *ngIf="locationList">
        <div nz-col nzSpan="24" *ngIf="locationList.length">Locations:</div>
        <div nz-col nzSpan="24" *ngIf="!locationList.length">First Tote</div>

        <ul class="text-yellow-600 text-lg font-bold">
          <li *ngFor="let location of locationList | slice: 0:3">
            <span>{{ location.substring(0, 2) }}</span>
            <span>-</span>
            <span>{{ location.substring(2, 4) }}</span>
            <span>-</span>
            <span>{{ location.substring(4, 6) }}</span>
            <span>-</span>
            <span>{{ location.substring(6, 8) }}</span>
            <span>-</span>
            <span>{{ location.substring(8, 9) }}</span>
            <span>-</span>
            <span>{{ location.substring(9, 11) }}</span>
            <span class="text-blue-500">({{ location.substring(11) }})</span>
          </li>
          <li *ngIf="!locationList[0]" nz-col nzSpan="24">---</li>
          <li *ngIf="!locationList[1]" nz-col nzSpan="24">---</li>
          <li *ngIf="!locationList[2]" nz-col nzSpan="24">---</li>
        </ul>
      </div>

      <!-- Input from -->
      <form
        nz-form
        focusInvalidInput
        [formGroup]="locationForm"
        (ngSubmit)="onSubmit()"
      >
        <nz-form-item nz-row nzJustify="center">
          <nz-form-control
            nzHasFeedback
            nzErrorTip="The input is not valid container!"
          >
            <input
              nz-input
              oninput="this.value = this.value.toUpperCase()"
              placeholder="To:"
              nzSize="large"
              type="text"
              id="location"
              formControlName="location"
              autocomplete="off"
              #location
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row nzGutter="16" nzJustify="center">
          <div nz-col nzSpan="16">
            <button
              nz-button
              type="submit"
              nzType="primary"
              (click)="onSubmit()"
              [nzLoading]="isLoading"
              [disabled]="isLoading"
              nzSize="large"
              class="w-full"
            >
              {{ buttonLabel }}
            </button>
          </div>
          <div nz-col nzSpan="8">
            <button
              *ngIf="!newLocation"
              nz-button
              type="button"
              nzSize="large"
              (click)="toggleNewLocation()"
              class="w-full"
            >
              New
            </button>
          </div>
        </nz-form-item>

        <nz-form-item nz-row *ngIf="alertMessage" nzJustify="center">
          <nz-alert
            [nzType]="
              alertType === 'error'
                ? 'error'
                : alertType === 'success'
                ? 'success'
                : alertType === 'info'
                ? 'info'
                : 'warning'
            "
            [nzMessage]="alertMessage"
            nzShowIcon
            class="w-full"
          ></nz-alert>
        </nz-form-item>
      </form>
      <!-- Item Info -->
      <nz-skeleton
        *ngIf="!locationList"
        [nzActive]="true"
        [nzParagraph]="{ rows: 2 }"
      ></nz-skeleton>
      <div *ngIf="!outsetContainer.isRelocation" class="mt-2 md:mt-6">
        <div class="text-black grid grid-cols-2 dark:text-white">
          <div *ngFor="let detail of ITNInfo | slice: 0:6; let i = index">
            <div class="grid grid-cols-2 gap-2">
              <span class="justify-self-end self-center text-xs">{{
                detail[0]
              }}</span>
              <span
                class="font-semibold"
                [ngClass]="{
                  'text-red-500': detail[1] === 'Yes',
                  'text-blue-600': detail[1] !== 'Yes'
                }"
                >{{ detail[1] }}</span
              >
            </div>
          </div>
        </div>
        <div
          class="text-black grid grid-cols-4 dark:text-white"
          *ngFor="let detail of ITNInfo | slice: 6"
        >
          <span class="justify-self-end self-center mr-1 text-xs">{{
            detail[0]
          }}</span>
          <span class="text-blue-600 col-span-3 ml-1 font-semibold">{{
            detail[1]
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
