<div>{{ initInfo$ | async }}</div>
<div class="container px-4 mx-auto mb-10 md:max-w-md">
  <div class="flex flex-col md:mt-6 ...">
    <!-- Top location info table -->
    <div class="font-bold text-black dark:text-white">
      <div class="justify-center text-lg grid" *ngIf="!isSingleLine">
        <div class="grid grid-flow-col grid-rows-4" *ngIf="locationList">
          <h1 *ngIf="locationList.length">Locations:</h1>
          <h1 *ngIf="!locationList.length">First Tote</h1>
          <ul
            *ngFor="let location of locationList | slice: 0:3"
            class="text-yellow-600 text-xl"
          >
            <span>{{ location.substring(0, 2) }}</span>
            <span>-</span>
            <span>{{ location.substring(2, 4) }}</span>
            <span>-</span>
            <span>{{ location.substring(4, 6) }}</span>
            <span>-</span>
            <span>{{ location.substring(6, 8) }}</span>
            <span>-</span>
            <span>{{ location.substring(8, 9) }}</span>
            <span>-</span>
            <span>{{ location.substring(9, 11) }}</span>
            <span class="text-blue-500">({{ location.substring(11) }})</span>
          </ul>
        </div>
      </div>
      <div *ngIf="isSingleLine" class="text-green-500">
        <h1>Single Line Order</h1>
        <h1>Auto Aggregation Out</h1>
      </div>
      <!-- Location input form -->
      <form
        focusInvalidInput
        [formGroup]="locationForm"
        class="mt-2 md:mt-6"
        (ngSubmit)="onSubmit()"
      >
        <div class="z-0 w-full relative mt-4">
          <input
            oninput="this.value = this.value.toUpperCase()"
            type="text"
            name="location"
            placeholder=" "
            formControlName="location"
            class="float-input"
            autocomplete="off"
            maxlength="20"
            #location
          />
          <label for="location" class="float-label"> location or tote </label>
          <div
            class="text-red-500 text-sm absolute"
            *ngIf="
              this.f.location.invalid &&
              (this.f.location.dirty || this.f.location.touched)
            "
          >
            <div *ngIf="this.f.location.errors.required">
              Location is required.
            </div>
            <div *ngIf="this.f.location.errors.regex">
              Example: 10-AG-01-01-A-00 or 50-01-01
            </div>
          </div>
        </div>
        <div>{{ updateLocation$ | async }}</div>
        <div class="grid grid-cols-3 mt-6 md:mt-10">
          <form-button
            class="col-span-2"
            type="submit"
            [disabled]="isLoading"
            [isLoading]="isLoading"
            [label]="buttonLabel"
            (click)="onSubmit()"
          ></form-button>
          <button
            *ngIf="!newLocation"
            class="
              ml-3
              py-2
              flex
              items-center
              justify-center
              px-2
              bg-blue-600
              rounded
              font-semibold
              text-sm text-blue-100
              hover:bg-blue-700
            "
            (click)="toggleNewLocation()"
          >
            New
          </button>
        </div>
        <div class="mt-2 md:mt-6">
          <message-bar
            [message]="message"
            [type]="messageType"
            class="md:mt-4"
          ></message-bar>
        </div>
      </form>

      <!-- ITN info table -->
      <div *ngIf="!isRelocation" class="mt-2 md:mt-6">
        <div class="text-black grid grid-cols-2 dark:text-white">
          <div *ngFor="let detail of ITNInfo | slice: 0:6; let i = index">
            <div class="grid grid-cols-2 gap-2">
              <span class="justify-self-end self-center text-xs">{{
                detail[0]
              }}</span>
              <span
                class="font-semibold"
                [ngClass]="{
                  'text-red-500': detail[1] === 'Yes',
                  'text-blue-600': detail[1] !== 'Yes'
                }"
                >{{ detail[1] }}</span
              >
            </div>
          </div>
        </div>
        <div
          class="text-black grid grid-cols-4 dark:text-white"
          *ngFor="let detail of ITNInfo | slice: 6"
        >
          <span class="justify-self-end self-center mr-1 text-xs">{{
            detail[0]
          }}</span>
          <span class="text-blue-600 col-span-3 ml-1 font-semibold">{{
            detail[1]
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
