<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="6">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a module"
            formControlName="module"
          >
            <nz-option nzLabel="Ag In" nzValue="Ag In"></nz-option>
            <nz-option nzLabel="Ag Out" nzValue="Ag Out"></nz-option>
            <nz-option nzLabel="qc" nzValue="qc"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="8">
        <nz-form-control>
          <nz-range-picker
            formControlName="timeRange"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="8">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="onSubmit()"
          [disabled]="isLoading"
          class="mr-4"
        >
          Search
        </button>
        <button nz-button (click)="resetForm()">Clear</button>
      </div>
    </div>
  </form>

  <!-- Event log table -->
  <nz-table
    #table
    [nzData]="fetchTable$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>User</th>
        <th>Ag In</th>
        <th>Ag out</th>
        <th>QC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{ data.User }}</td>
        <td>{{ data.AgIn }}</td>
        <td>{{ data.AgOut }}</td>
        <td>{{ data.QC }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
