<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="6">
        <nz-form-label nzRequired> Module </nz-form-label>
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid container!"
        >
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a module"
            formControlName="module"
          >
            <nz-option nzLabel="Ag In" nzValue="Ag In"></nz-option>
            <nz-option nzLabel="Ag Out" nzValue="Ag Out"></nz-option>
            <nz-option nzLabel="qc" nzValue="qc"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="8">
        <nz-form-label nzRequired> Date </nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="timeRange"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="10">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="onSubmit()"
          [disabled]="isLoading"
          class="mr-4"
        >
          Search
        </button>
        <button nz-button (click)="resetForm()" class="mr-4">Clear</button>
        <button nz-button (click)="exportexcel()" class="bg-green-500">
          Save
        </button>
      </div>
    </div>
  </form>

  <!-- Event log table -->
  <nz-table
    id="excel-table"
    #table
    [nzPageSize]="50"
    nzShowSizeChanger
    [nzData]="fetchTable$ | async"
  >
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{ data.User }}</td>
        <td>
          {{ data.total }}
        </td>
        <td *ngFor="let task of data.taskCounter">{{ task }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
