<div class="container px-2 mx-auto md:mt-6">
  <!-- Order Infromation -->

  <nz-table
    #nzTable
    [nzData]="OrderInfo$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>Order</th>
        <th>CustomerNumber</th>
        <th>Priority</th>
        <th>ShippingMethod</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of nzTable.data">
        <td>{{ detail.OrderNumber }}-{{ detail.NOSINumber }}</td>
        <td>{{ detail.CustomerNumber }}</td>
        <td>{{ detail.ShipmentMethod.PriorityPinkPaper ? 'Y' : 'N' }}</td>
        <td>{{ detail.ShipmentMethod.ShippingMethod }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
