<div class="container px-2 mx-auto md:mt-6">
  <!-- Order Infromation -->

  <nz-table
    #nzTable
    [nzData]="OrderInfo$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th>Order</th>
        <th>CustomerNumber</th>
        <th>Priority</th>
        <th>ShippingMethod</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of nzTable.data">
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              orderNumber: order.OrderNumber,
              NOSINumber: order.NOSINumber
            }"
            >{{ order.OrderNumber }}-{{ order.NOSINumber }}</a
          >
        </td>
        <td>{{ order.CustomerNumber }}</td>
        <td>{{ order.ShipmentMethod.PriorityPinkPaper ? 'Y' : 'N' }}</td>
        <td>{{ order.ShipmentMethod.ShippingMethod }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
