<div class="container px-4 mx-auto">
  <!-- order table -->
  <nz-table
    #table
    [nzData]="fetchTable$ | async"
    [nzPageSize]="20"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th rowspan="3"></th>

        <th colspan="2">00</th>
        <th colspan="2">10</th>
        <th colspan="2">15</th>
        <th colspan="2">20</th>
        <th colspan="2">30</th>
        <th colspan="2">60</th>
        <th colspan="2">63</th>
        <th colspan="2">65</th>
        <th colspan="2">80</th>
      </tr>
      <tr>
        <th colspan="2">Pick Queue</th>
        <th colspan="2">Pick Complete</th>
        <th colspan="2">Not Found</th>
        <th colspan="2">Dropped at QC</th>
        <th colspan="2">Warehouse Hold</th>
        <th colspan="2">QC Complete</th>
        <th colspan="2">AGIn Complete</th>
        <th colspan="2">AGOut Complete</th>
        <th colspan="2">Pack Complete</th>
      </tr>
      <tr>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
        <th>Priority</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ table.data[0].name }}</td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 0
            }"
            >{{ table.data[0].aP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 0
            }"
            >{{ table.data[0].aT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 10
            }"
            >{{ table.data[0].bP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 10
            }"
            >{{ table.data[0].bT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 15
            }"
            >{{ table.data[0].cP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 15
            }"
            >{{ table.data[0].cT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 20
            }"
            >{{ table.data[0].dP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 20
            }"
            >{{ table.data[0].dT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 30
            }"
            >{{ table.data[0].eP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 30
            }"
            >{{ table.data[0].eT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 60
            }"
            >{{ table.data[0].fP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 60
            }"
            >{{ table.data[0].fT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 63
            }"
            >{{ table.data[0].gP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 63
            }"
            >{{ table.data[0].gT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 65
            }"
            >{{ table.data[0].hP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 65
            }"
            >{{ table.data[0].hT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              priority: 1,
              statusID: 80
            }"
            >{{ table.data[0].iP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview/itnview']"
            [queryParams]="{
              statusID: 80
            }"
            >{{ table.data[0].iT }}</a
          >
        </td>
      </tr>
      <tr>
        <td>{{ table.data[1].name }}</td>
        <td>{{ table.data[1].aP }}</td>
        <td>{{ table.data[1].aT }}</td>
        <td>{{ table.data[1].bP }}</td>
        <td>{{ table.data[1].bT }}</td>
        <td>{{ table.data[1].cP }}</td>
        <td>{{ table.data[1].cT }}</td>
        <td>{{ table.data[1].dP }}</td>
        <td>{{ table.data[1].dT }}</td>
        <td>{{ table.data[1].eP }}</td>
        <td>{{ table.data[1].eT }}</td>
        <td>{{ table.data[1].fP }}</td>
        <td>{{ table.data[1].fT }}</td>
        <td>{{ table.data[1].gP }}</td>
        <td>{{ table.data[1].gT }}</td>
        <td>{{ table.data[1].hP }}</td>
        <td>{{ table.data[1].hT }}</td>
        <td>{{ table.data[1].iP }}</td>
        <td>{{ table.data[1].iT }}</td>
      </tr>

      <tr>
        <td>{{ table.data[2].name }}</td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 0
            }"
            >{{ table.data[2].aP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 0
            }"
            >{{ table.data[2].aT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 10
            }"
            >{{ table.data[2].bP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 10
            }"
            >{{ table.data[2].bT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 15
            }"
            >{{ table.data[2].cP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 15
            }"
            >{{ table.data[2].cT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 20
            }"
            >{{ table.data[2].dP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 20
            }"
            >{{ table.data[2].dT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 30
            }"
            >{{ table.data[2].eP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 30
            }"
            >{{ table.data[2].eT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 60
            }"
            >{{ table.data[2].fP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 60
            }"
            >{{ table.data[2].fT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 63
            }"
            >{{ table.data[2].gP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 63
            }"
            >{{ table.data[2].gT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 65
            }"
            >{{ table.data[2].hP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 65
            }"
            >{{ table.data[2].hT }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              priority: 1,
              statusID: 80
            }"
            >{{ table.data[2].iP }}</a
          >
        </td>
        <td>
          <a
            [routerLink]="['/tableviews/orderview']"
            [queryParams]="{
              statusID: 80
            }"
            >{{ table.data[2].iT }}</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
