<div class="container px-4 py-4 mx-auto">
  <form nz-form [formGroup]="filterForm">
    <div nz-row nzAlign="bottom" nzGutter="8" nzJustify="space-between">
      <nz-form-item nz-col nzSpan="4">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a User"
            formControlName="user"
          >
            <nz-option
              *ngFor="let user of fetchUser$ | async"
              [nzLabel]="user.Name"
              [nzValue]="user._id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a module"
            formControlName="module"
          >
            <nz-option nzLabel="Ag In" nzValue="Ag In"></nz-option>
            <nz-option nzLabel="Ag Out" nzValue="Ag Out"></nz-option>
            <nz-option nzLabel="qc" nzValue="qc"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="target"
            placeholder="filter by Order-NOSI"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzSpan="4">
        <nz-form-control
          nzHasFeedback
          nzErrorTip="The input is not valid barcode!"
        >
          <input
            nz-input
            oninput="this.value = this.value.toUpperCase()"
            formControlName="subTarget"
            placeholder="filter by ITN"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row nzJustify="start">
      <nz-form-item nz-col nzSpan="8">
        <nz-form-control>
          <nz-range-picker
            [nzShowTime]="true"
            formControlName="timeRange"
            (ngModelChange)="onChange($event)"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="4" nzOffset="12">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="onSubmit()"
          [disabled]="isLoading"
          class="mr-4"
        >
          Search
        </button>
        <button nz-button (click)="resetForm()">Clear</button>
      </div>
    </div>
  </form>

  <!-- Event log table -->
  <div *ngIf="fetchTable$ | async"></div>
  <nz-table #table [nzData]="tableData" [nzPageSize]="20" nzShowSizeChanger>
    <thead>
      <tr>
        <th>ITN</th>
        <th>User</th>
        <th>Module</th>
        <th>Order</th>
        <th>Event</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of table.data">
        <tr>
          <td
            [nzExpand]="expandSet.has(data._id)"
            (nzExpandChange)="onExpandChange(data._id, $event)"
          ></td>
          <td>{{ data.User.Name }}</td>
          <td>{{ data.Module }}</td>
          <td>{{ data.Target }}</td>
          <td>{{ data.Event }}</td>
          <td>{{ data.DateTime }}</td>
        </tr>
        <tr [nzExpand]="expandSet.has(data._id)">
          <li *ngFor="let itn of data.ITNList">{{ itn }}</li>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
