<div class="flex flex-col">
  <nz-descriptions
    nzBordered
    [nzColumn]="{ xxl: 3, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
  >
    <nz-descriptions-item nzTitle="ITN">{{
      this.urlParams['ITN']
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="PRC">{{
      this.urlParams['PRC']
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="PartNumber">{{
      this.urlParams['PartNum']
    }}</nz-descriptions-item>
  </nz-descriptions>

  <nz-divider nzText="Pick a empty container."></nz-divider>
  <form
    nz-form
    focusInvalidInput
    [formGroup]="containerForm"
    (ngSubmit)="onSubmit()"
  >
    <div nz-row nzJustify="center">
      <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
        <nz-form-item nz-row nzJustify="center">
          <nz-form-label nzRequired> Container </nz-form-label>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="The input is not valid Container!"
          >
            <input
              nz-input
              placeholder="Barcode#"
              nzSize="large"
              type="text"
              id="container"
              formControlName="container"
              autocomplete="off"
              #container
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row nzJustify="center">
          <div nz-col nzSpan="13">
            <button
              nz-button
              type="submit"
              nzType="primary"
              (click)="onSubmit()"
              [nzLoading]="isLoading"
              [disabled]="isLoading"
              nzSize="large"
              class="w-full"
            >
              Pack
            </button>
          </div>
        </nz-form-item>

        <nz-form-item nz-row *ngIf="alertMessage" nzJustify="center">
          <nz-alert
            [nzType]="
              alertType === 'error'
                ? 'error'
                : alertType === 'success'
                ? 'success'
                : alertType === 'info'
                ? 'info'
                : 'warning'
            "
            [nzMessage]="alertMessage"
            nzShowIcon
            class="w-full"
          ></nz-alert>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>
