<div class="container px-4 mx-auto mb-10 md:max-w-md">
  <div class="flex flex-col mt-4 md:mt-10 ...">
    <div>From: {{ urlParams.Barcode }}</div>
    <form focusInvalidInput [formGroup]="containerForm" (ngSubmit)="onSubmit()">
      <div class="z-0 w-full relative mt-4">
        <input
          nz-input
          type="text"
          name="containerNumber"
          id="containerNumber"
          placeholder="To"
          formControlName="containerNumber"
          autocomplete="off"
          maxlength="25"
          #containerNumber
          required
        />
        <div
          class="text-red-500 text-sm absolute"
          *ngIf="
            this.f.containerNumber.invalid &&
            (this.f.containerNumber.dirty || this.f.containerNumber.touched)
          "
        >
          <div *ngIf="this.f.containerNumber.errors.required">
            Container# is required.
          </div>
          <div *ngIf="this.f.containerNumber.errors.regex">
            Example: 10-AG-01-01-A-00 or 50-01-01
          </div>
        </div>
      </div>

      <div>{{ updateContainer$ | async }}</div>
      <div class="mt-8">
        <form-button
          [disabled]="isLoading"
          [isLoading]="isLoading"
          (click)="onSubmit()"
        ></form-button>
      </div>
      <div class="mt-6">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </div>
</div>
