<button
  class="
    flex
    items-center
    text-bs
    justify-center
    h-10
    w-full
    text-white
    font-bold
    disabled:opacity-30
    rounded
    focus:outline-none
    hover:shadow-lg
    hover:opacity-70
    active:opacity-100
    uppercase
  "
  [ngClass]="styles"
  [type]="type"
  [disabled]="disabled"
  (click)="onClickButton()"
>
  <div>
    <svg
      class="absolute -ml-8 animate-spin"
      [ngClass]="{ hidden: !isLoading }"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M12 22C17.5228 22 22 17.5228 22 12H19C19 15.866 15.866 19 12 19V22Z"
        fill="currentColor"
      />
      <path
        d="M2 12C2 6.47715 6.47715 2 12 2V5C8.13401 5 5 8.13401 5 12H2Z"
        fill="currentColor"
      />
    </svg>
    <span> {{ label }} </span>
  </div>
</button>
