<form nz-form [formGroup]="inputForm" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{ title }}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="errorTpl">
      <input
        nz-input
        oninput="this.value = this.value.toUpperCase()"
        nzSize="large"
        [type]="type"
        [placeholder]="placeholder"
        [formControlName]="controlName"
        autocomplete="off"
        #input
      />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('regex')"
          >The input is not valid!</ng-container
        >
        <ng-container *ngIf="control.hasError('required')"
          >Please input this field!</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button
        nz-button
        type="submit"
        nzSize="large"
        nzType="primary"
        [nzLoading]="isLoading"
        [disabled]="inputForm.invalid"
        class="mr-20"
      >
        Submit
      </button>
      <button nz-button nzSize="large" type="button" (click)="back()">
        Back
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
