<div class="mx-auto md:max-w-2xl flex flex-col text-black dark:text-white">
  <!-- item picture and detail link -->
  <section>
    <div class="grid grid-cols-12">
      <p class="font-bold col-span-3">ITN: {{ this.urlParams.ITN }}</p>
      <p class="font-bold col-span-2">PRC: {{ this.urlParams.PRC }}</p>
      <a
        [href]="productURL"
        target="_blank"
        class="col-span-2 underline font-bold text-indigo-500"
        >Product</a
      >
      <a
        [href]="specSheetURL"
        target="_blank"
        class="col-span-2 underline font-bold text-indigo-500"
        >Spec sheet</a
      >
      <button
        *ngIf="globalMessages"
        type="button"
        (click)="toggleGlobalMessagesModal()"
        class="
          grid-cols-2
          w-full
          border
          text-base
          font-medium
          rounded-r-md
          text-black
          bg-white
          hover:bg-gray-100
        "
      >
        GMs
      </button>
      <p class="font-bold col-span-10">
        PartNumber: {{ this.urlParams.PartNum }}
      </p>
    </div>

    <div class="grid grid-cols-8 mt-2 h-40">
      <div class="col-span-4">
        <div *ngIf="isImgExist">
          <img
            [src]="imgURL"
            class="h-40"
            alt="ProductImage"
            onError="this.src='assets/img/image-not-found.png'"
          />
        </div>
      </div>

      <div class="grid items-center text-lg font-bold col-span-4">
        <p>Quantity:</p>
        <p class="text-indigo-600 text-2xl">
          {{ this.urlParams.Quantity }}({{ this.UnitOfMeasure }})
        </p>
        <p>HML:</p>
        <p class="text-indigo-600">{{ HazardMaterialLevel ? 'Yes' : 'No' }}</p>
      </div>
    </div>
  </section>

  <!-- User input form -->
  <section class="flex flex-col mt-3">
    <!-- <div class="grid grid-cols-3 font-semibold text-lg">
      <p>Pack Information</p>
      <p class="col-span-2">User Input</p>
    </div> -->
    <form
      focusInvalidInput
      [formGroup]="verifyPack"
      (ngSubmit)="onSubmit()"
      class="border-t border-gray-200 dark:border-gray-800"
    >
      <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>DateCode:</p>
          <p *ngIf="this.urlParams.dateCode">{{ this.urlParams.dateCode }}</p>
          <p *ngIf="!this.urlParams.dateCode">Unknown</p>
        </dt>
        <div class="z-0 w-full relative mt-4 col-span-2">
          <input
            type="text"
            name="dateCode"
            placeholder=" "
            formControlName="dateCode"
            class="float-input"
            autocomplete="off"
            #dateCode
          />
          <label for="dateCode" class="float-label"> DateCode </label>
          <span
            class="text-sm text-red-600 hidden"
            id="dateCodeError"
            #dateCodeError
          ></span>
        </div>
      </div>

      <div
        class="
          px-4
          py-4
          sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
          bg-gray-100
          dark:bg-gray-700
        "
      >
        <dt class="text-md font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>ROHS:</p>
          <p>{{ this.urlParams.ROHS }}</p>
        </dt>
        <fieldset class="relative z-0 p-px w-full mt-2">
          <legend
            class="origin-0 absolute -top-3 text-gray-500 transform scale-75"
          >
            ROHS
          </legend>
          <div class="grid grid-cols-2 pb-2 pt-3 space-x-4">
            <label *ngFor="let ROHS of booleanOptions">
              <input
                type="radio"
                name="ROHS"
                formControlName="ROHS"
                [readonly]="!editable"
                [value]="ROHS.id"
                class="
                  mr-2
                  text-black
                  border-2 border-gray-300
                  focus:border-gray-300 focus:ring-black
                "
              />
              {{ ROHS.name }}
            </label>
          </div>
        </fieldset>
      </div>

      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-md font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>Country of Origin:</p>
          <p>{{ this.urlParams.coo }}</p>
        </dt>
        <div class="col-span-2">
          <label for="countryOfOrigin" class="text-sm text-gray-500"
            >Country of Origin</label
          >
          <div>
            <ng-autocomplete
              [data]="countryData"
              [focusFirst]="true"
              [searchKeyword]="COOkeyword"
              [customFilter]="COOFilter"
              [itemTemplate]="COOTemplate"
              [notFoundTemplate]="notFoundTemplate"
              formControlName="countryOfOrigin"
              class="text-black"
            >
            </ng-autocomplete>
            <ng-template #COOTemplate let-item>
              <a [innerHTML]="item.name" class="ml-2"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <span class="text-sm text-red-600 hidden" id="cooError"></span>
        </div>
      </div>
      <div class="sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 mt-3 mb-3">
        <form-button
          [styles]="holdStyles"
          [disabled]="isLoading"
          [isLoading]="isLoading"
          [label]="'Hold'"
          (click)="toggleHoldModal()"
          isHighLight="true"
        ></form-button>

        <form-button
          [disabled]="isLoading"
          [isLoading]="isLoading"
          [styles]="editStyles"
          [label]="'edit'"
          (click)="toggleEdit()"
          isHighLight="true"
        ></form-button>
      </div>
      <div
        class="
          px-4
          py-5
          sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
          bg-gray-100
          dark:bg-gray-700
        "
      >
        <div class="col-span-3">
          <div class="mt-6">
            <fieldset class="relative z-0 mb-5 p-px">
              <legend class="origin-0 absolute -top-8 transform text-gray-500">
                Count Method
              </legend>
              <div class="grid grid-cols-3 gap-3">
                <label *ngFor="let countMethod of countMethods">
                  <input
                    type="radio"
                    name="countMethods"
                    value="{{ countMethod.id }}"
                    formControlName="countMethods"
                    #countMethods
                    class="
                      mr-2
                      focus:ring-black
                      text-black
                      border-2 border-gray-300
                      focus:border-gray-300
                    "
                  />
                  {{ countMethod.content }}
                </label>
              </div>
              <span class="hidden text-red-600 text-sm" #countMethodError
                >Must select a method</span
              >
            </fieldset>
          </div>
        </div>
      </div>

      <!-- SupV section
      <div
        *ngIf="isNeedSupv"
        class="flex flex-col w-full mb-3 bg-white border-0 rounded-lg shadow-lg"
      >
        <div class="px-6 py-6 mb-0 rounded-t">
          <div class="mb-3 text-center">
            <h4 class="text-base font-bold text-gray-600">
              This order require supervisor signature.
            </h4>
          </div>
          <hr class="mt-6 border-gray-400 border-b-1" />
        </div>
        <div class="mx-4">
          <div class="z-0 w-full relative mt-4">
            <input
              type="text"
              placeholder=" "
              formControlName="username"
              class="float-input"
              autocomplete="off"
              readonly
              onfocus="this.removeAttribute('readonly');"
              #username
            />
            <label for="username" class="float-label"> USERNAME </label>
            <div
              class="text-red-500 text-sm"
              *ngIf="
                this.verifyPack.get('username').invalid &&
                (this.verifyPack.get('username').dirty ||
                  this.verifyPack.get('username').touched)
              "
            >
              <div *ngIf="this.verifyPack.get('username').errors.required">
                Username is required.
              </div>
            </div>
          </div>
          <div class="z-0 w-full relative mt-4 mb-4">
            <input
              type="password"
              autocomplete="off"
              placeholder=" "
              formControlName="password"
              class="float-input"
              readonly
              onfocus="this.removeAttribute('readonly');"
              #password
            />
            <label for="password" class="float-label"> PASSWORD </label>
            <div
              class="text-red-500 text-sm"
              *ngIf="
                this.verifyPack.get('password').invalid &&
                (this.verifyPack.get('password').dirty ||
                  this.verifyPack.get('password').touched)
              "
            >
              <div *ngIf="this.verifyPack.get('password').errors.required">
                Password is required.
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- buttons -->
      <div class="sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 mt-3">
        <form-button
          [styles]="backStyles"
          [label]="'Back'"
          isHighLight="true"
          (onClickEmt)="back()"
        ></form-button>
        <form-button
          [styles]="submitStyles"
          [type]="'submit'"
          [disabled]="isLoading"
          [isLoading]="isLoading"
          label="Submit"
        ></form-button>
      </div>
      <div class="mt-3">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </section>
</div>
<!-- modal -->
<hold-modal
  *ngIf="!isHoldModalHidden"
  [(isModalHidden)]="isHoldModalHidden"
  [ITN]="this.urlParams.ITN"
></hold-modal>
<global-messages-modal
  *ngIf="!isGlobalMessagesModalHidden"
  [(isModalHidden)]="isGlobalMessagesModalHidden"
></global-messages-modal>
<!-- shortcut -->
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help
  [key]="'f1'"
  [closeKey]="'escape'"
  [title]="'Help'"
></ng-keyboard-shortcuts-help>
