<div class="mx-auto md:max-w-2xl flex flex-col text-black dark:text-white">
  <!-- user verify and input data -->
  <p class="font-bold text-lg py-5">ITN#: {{ ITN }}</p>
  <section class="flex flex-col">
    <div class="grid grid-cols-3 font-semibold text-lg text-indigo-600">
      <p>Pack Information</p>
      <p class="col-span-2">User Input</p>
    </div>
    <form
      focusInvalidInput
      [formGroup]="verifyPack"
      (ngSubmit)="onSubmit()"
      class="border-t border-gray-200 dark:border-gray-800"
    >
      <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>Quantity:</p>
          <p>{{ Quantity }}</p>
        </dt>
        <div class="z-0 w-full relative mt-2 col-span-2">
          <input
            type="number"
            name="quantity"
            placeholder=" "
            formControlName="quantity"
            class="float-input"
            autocomplete="off"
            #quantity
          />
          <label for="quantity" class="float-label"> Quantity </label>
          <span class="text-sm text-red-600 hidden" id="quantityError">Quantity is required</span>
        </div>
      </div>

      <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 bg-gray-100 dark:bg-gray-700">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>DateCode:</p>
          <p>{{ DateCode }}</p>
        </dt>
        <div class="z-0 w-full relative mt-4 col-span-2">
          <input
            type="text"
            name="dateCode"
            placeholder=" "
            formControlName="dateCode"
            class="float-input"
            autocomplete="off"
            #dateCode
          />
          <label for="dateCode" class="float-label"> DateCode </label>
          <span class="text-sm text-red-600 hidden" id="dateCodeError"></span>
        </div>
      </div>

      <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>ROHS:</p>
          <p>{{ ROHS }}</p>
        </dt>
        <div class="relative z-0 w-full col-span-2 mt-2">
          <select name="ROHS" class="float-input" formControlName="ROHS">
            <option value="" selected disabled hidden></option>
            <option value="1" class="text-black">Yes</option>
            <option value="0" class="text-black">No</option>
          </select>
          <label for="ROHS" class="float-label">ROHS</label>
          <span class="text-sm text-red-600 hidden" id="ROHSError">ROHS is required</span>
        </div>
      </div>

      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 bg-gray-100 dark:bg-gray-700">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2">
          <p>Country of Origin:</p>
          <p>{{ CountryOfOrigin }}</p>
        </dt>
        <div class="col-span-2">
          <label for="countryOfOrigin" class="text-sm text-gray-500">Country of Origin</label>
          <div>
            <ng-autocomplete
              [data]="countryData"
              [focusFirst]="true"
              [searchKeyword]="COOkeyword"
              [customFilter]="COOFilter"
              [itemTemplate]="COOTemplate"
              [notFoundTemplate]="notFoundTemplate"
              formControlName="countryOfOrigin"
              class="text-black"
            >
            </ng-autocomplete>
            <ng-template #COOTemplate let-item>
              <a [innerHTML]="item.name" class="ml-2"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <span class="text-sm text-red-600 hidden" id="cooError"></span>
        </div>
      </div>

      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500 grid grid-rows-2 gap-2"></dt>
        <div class="col-span-2">
          <div class="mt-2">
            <fieldset class="relative z-0 mb-5 p-px w-full">
              <legend class="origin-0 absolute -top-3 transform text-gray-500">Count Method</legend>
              <div class="block pb-2 pt-3 space-x-4" *ngFor="let option of countMethods">
                <label>
                  <input
                    type="radio"
                    name="radio"
                    [value]="option.id"
                    class="
                      mr-2
                      text-black
                      border-2 border-gray-300
                      focus:border-gray-300
                      focus:ring-black
                    "
                  />
                  {{ option.content }}
                </label>
              </div>
              <span class="hidden text-red-600 text-sm" id="error">Option has to be selected</span>
            </fieldset>
          </div>

          <span class="text-sm text-red-600 hidden" id="cooError"></span>
        </div>
      </div>

      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <form-button
          [styles]="holdStyles"
          [disabled]="isLoading"
          [isLoading]="isLoading"
          [label]="'Hold'"
          (click)="toggleModal()"
        ></form-button>
        <form-button
          [styles]="backStyles"
          [disabled]="isLoading"
          [isLoading]="isLoading"
          [label]="'Back'"
          (onClickEmt)="back()"
        ></form-button>
        <form-button
          [styles]="submitStyles"
          [type]="'submit'"
          [disabled]="isLoading"
          [isLoading]="isLoading"
          [label]="buttonLabel"
        ></form-button>
      </div>
      <div class="mt-6 grid grid-cols-2">
        <message-bar [message]="message" [type]="messageType"></message-bar>
      </div>
    </form>
  </section>
</div>

<hold-modal *ngIf="!isModalHidden" [(isModalHidden)]="isModalHidden"></hold-modal>
